<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/91886/IdeaProjects/MySeleniumProject">
        <classes>
            <class name="login7WithPOM">
                <methods>
                    <include name="login1"/>
                    <include name="login2"/>
                    <include name="login3"/>
                    <include name="login4"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>